<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uusi kala</title> 
</head>
<body>
    <h1>Uusi kala</h1>
    <form action="/submit_catch" method="post">
        <label for="fish_name">Kalalaji:</label>
        <input type="text" id="fish_name" name="fish_name" required><br><br>
        
        <label for="weight">Paino (kg):</label>
        <input type="number" id="weight" name="weight" required><br><br>
        
        <input type="submit" value="Lisää saalis"> 
    </form>
    <p>
        <a href="/">Takaisin etusivulle</a> 
</body>
</html> 
