<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-color: lightblue;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Käyttäjäprofiili</title> 
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
    <h1>Käyttäjäprofiili</h1>
    <p>Tervetuloa, {{ username }}!</p>
    <h2>Omat saaliit</h2>
        <p>Olet saanut yhteensä {{ fish_list|length }} kalaa.</p>

    <ul>
        {% for fish in fish_list %}
            <li>
            {{ fish.fish_name }} - {{ fish.weight }} kg
            <form action="/edit_fish/{{ fish.id }}" method="POST" style="display:inline;">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <button type="submit">Muokkaa</button>
            </form>
            <form action="/remove_fish/{{ fish.id }}" method="POST" style="display:inline;">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <button type="submit">Poista</button>
            </form>
            </li>
        {% endfor %}
    </ul>
    <a href="/">Takaisin etusivulle</a>
</body>