<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-color: lightblue;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Käyttäjäprofiili</title> 
</head>
<body>
    <h1>Käyttäjäprofiili</h1>
    <p>Tervetuloa, {{ username }}!</p>
    <h2>Omat saaliit</h2>
    <ul>
        {% for fish in fish_list %}
            <li>{{ fish.fish_name }} - {{ fish.weight }} kg</li>
        {% endfor %}
    </ul>
    <a href="/">Takaisin etusivulle</a>
</body>